<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss} [%-5p] %C{2}.%M(ligne %L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
